<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Resader - Mobile</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../libs/mint-ui/style.css">
    <link rel="stylesheet" href="./css/mobile.css">
</head>
<body>
    <div id="app">
        <mt-tab-container v-model="active" :swipeable="swipeable">
            <mt-tab-container-item id="home-container">
                <mt-cell-swipe v-for="feed in feeds" :title="feed.title"
                :right="[
                    {
                        content: '取消订阅',
                        style: { color: 'red' },
                        handler: () => onUnsubscribe(feed)
                    }
                ]" is-link :to="'./articles.html?id=' + feed.id + '&name=' + feed.title"
                :label="feed.active ? '有新文章未阅读' : ''">
                </mt-cell-swipe>
                <mt-button size="large" type="default" @click.native="importRss()">Import</mt-button>
            </mt-tab-container-item>
            <mt-tab-container-item id="settings-container">
                <mt-cell :title="user.mail"></mt-cell>
                <mt-cell title="Export" :to="'../rss/opml.xml?userId=' + user.id" is-link value="导出 OPML">
                </mt-cell>
                <mt-cell title="只展示未读文章">
                    <mt-switch v-model="onlyShowUnread" @change="onReadSwitchChange"></mt-switch>
                </mt-cell>
                <mt-button size="large" type="danger" @click.native="logout()">退出登录</mt-button>
            </mt-tab-container-item>
        </mt-tab-container>

        <mt-tabbar v-model="selected" :fixed="tabbarFixed">
            <mt-tab-item id="home">
                <img slot="icon" src="../imgs/home100x100.jpg">
                Home
            </mt-tab-item>
            <mt-tab-item id="settings">
                <img slot="icon" src="../imgs/settings100x100.jpg">
                Settings
            </mt-tab-item>
        </mt-tabbar>
    </div>

    <script src="../libs/vue.js"></script>
    <script src="../libs/mint-ui/index.js"></script>
    <script src="../js/mobile.js"></script>
    <script src="../js/mobile/index.js"></script>
</body>
</html>