@inject JsService jsService

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-brand" @onclick="GoBack"><i class="bi bi-chevron-left"></i></div>

        <div>@Title</div>

        <div class="d-flex" @onclick="OnOperate">
            @Operation
        </div>
    </div>
</nav>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Operation { get; set; } = string.Empty;

    [Parameter]
    public Func<Task>? Operate { get; set; }

    private async Task GoBack()
    {
        await jsService.GoBack();
    }

    private async Task OnOperate()
    {
        if (Operate != null)
        {
            await Operate();
        }
    }
}
