@inject NavigationManager NavigationManager

<div class="col tabbar-item">
    <NavLink class="nav-link tabbar-item-link" href="@Href" Match="@Match">
        @if (!string.IsNullOrWhiteSpace(Icon))
        {
            <div class="tabbar-item-icon">
                    <i class=@("bi bi-" + Icon)></i>
                </div>
        }
        <div class="tabbar-item-text">
            @Text
        </div>
    </NavLink>
</div>

@code {
    [Parameter]
    public string Icon { get; set; } = string.Empty;

    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public string Href { get; set; } = string.Empty;

    [Parameter]
    public NavLinkMatch Match{ get; set; }
}
