<div>
    <div style="padding-bottom: 50px;"></div>

    <div class="tabbar">
        <div class="row">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
