@page "/"

@using Resader.Common.Api.Response
@using Resader.Common.Extensions
@using System.Net.Http
@using System.Net

@inject HttpClient http
@inject JsService localStorage
@inject NavigationManager nav

<PageTitle>Index</PageTitle>

<div class="text-center logo">
  <img src="./favicon.ico">
</div>

<List>
    @foreach (var feed in feeds)
    {
        <LinkItem Title="@feed.Title" Href="@($"./articles?id={feed.Id}&title={WebUtility.UrlEncode(feed.Title)}")"
            Tip="@(feed.Active ? feed.NewArticleCount.ToString() : string.Empty)" TipBackground="danger"></LinkItem>
    }
</List>

@code {
    private UserResponse? user;
    private List<FeedResponse> feeds = new List<FeedResponse>();

    protected override async Task OnInitializedAsync()
    {
        var json = await localStorage.GetItem("user-wasm");
        user = json.ToObj<UserResponse>();
        if (user == null)
        {
            nav.NavigateTo("./login");
            return;
        }

        if (!http.DefaultRequestHeaders.TryGetValues("token", out var values))
        {
            http.DefaultRequestHeaders.Add("token", user!.Token);
        }
        var result = await http.GetFromJsonAsync<Result<List<FeedResponse>>>("RSS/Feeds");
        if (result?.Code != 0)
        {
            // todo: 报错
        }

        feeds = result!.Data;
        StateHasChanged();

        await base.OnInitializedAsync();
    }
}