@inherits LayoutComponentBase

<div class="body">
    @Body
</div>

<TabBar>
    <TabBarItem Icon="house" Text="首页" Href="" Match="NavLinkMatch.All"></TabBarItem>
    <TabBarItem Icon="star" Text="推荐" Href="recommend"></TabBarItem>
    <TabBarItem Icon="person" Text="我" Href="user"></TabBarItem>
</TabBar>
