.tip {
	display:block;
	background:#f00;
	border-radius:50%;
	width:8px;
	height:8px;
	top:0px;
	right:0px;
	position:absolute;
}

li {
    list-style-type:none;
}

li.page-infinite-listitem {
	padding-bottom: 10px;
}

ul.list {
    padding-inline-start: 0px;
}

li.page-infinite-listitem.read {
	color: #808080;
}